.search-bar-container {
    background-color: rgb(4, 76, 170);
    width: 100vw;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.search-bar-input {
    height: 25px;
    width: 250px;
    padding-left: 25px;
    box-sizing: border-box;
}

.search-bar-button {
    position: absolute;
    left: 7px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
}